@import '~common/style/_theme.scss';
.title {
  //background-color: tomato;
  background-color: $purple-light;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 10px;
}

.results {
  width: 700px;
  margin: 0 auto;
}

.data-span {
  padding-right: 20px;
  display: inline-block;
  width: 200px;
  vertical-align: top;
}
